@import '../../styles/variables.css';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-green);
  padding: 5PX 20px;
}

.logo {
  height: 30px; /* Adjust as needed */
}
